@model Colecao_Musica.Models.Musicas

@{
    ViewData["Title"] = "Details";
   
}

<h1>Detalhes</h1>

<div>
    <h4>Musicas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duracao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compositor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compositor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbunSel)
        </dt>
        <dd class="col-sm-10">
            @* listar as categorias, e confrontar essa lista com as categorias a que a lição está associada *@
            @foreach (Albuns item in ViewBag.listaDeAlbuns) {
                if (Model.ListaDeAlbuns.Contains(item)) {
                     @Html.DisplayFor(model => model.AlbunSel) @item.Titulo
                    <br/>
                }
            }
        </dd>
    </dl>
</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Voltar</a>
</div>